body {
    font-family: sans-serif;
    background-color: white;
    color: black;
    /*background-color: #2e3440;
    color: #d8dee9;*/
    padding-left: 10%;
    padding-right: 10%;
}

#home-header{
    text-align: center;
}

#post-top {
    text-align: center;
}

a {www
    /*color: #d8dee9;*/
    /*color: #00ccff;*/
    color: #161;
}

a:hover{
    color: black;
    background-color: #161 /*#00ccff*/;
}
