@media only screen and (orientation:portrait) {
    body{
        width: 90%;
    }
}

@media only screen and (orientation:landscape) {
    body{
        width: 60%;
    }
}

@media (prefers-color-scheme:light) {
    body{
        background-color: #e7f0e5;
        color: #1e1c1d;
    }

    a {
        color: #1e5417;
        border-bottom: 1px solid #1e5417;
    }

    .codeblock {
        background-color: #f5f5f5;
        border: 1px solid #1e1c1d;
    }
}

@media (prefers-color-scheme:dark) {
    body{
        background-color: #242424;
        color: #e3e3e3;
    }

    a {
        color: #d1ffb8;
        border-bottom: 1px solid #d1ffb8;
    }

    .codeblock {
        background-color: #254722;
        border: 1px solid #e3e3e3;
    }
}

body {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 18px;
    margin: auto;
}

.codeblock {
    overflow-x: auto
}

a {
    text-decoration: none;
}

footer {
    font-size: .75em;
    text-align: left;
}

footer>img{
    display: inline-block;
}

footer>a{
    border: none;
    display: inline-block;
}

td {
    padding: 5px
}

.booktable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed
}

.booktable>th,
td {
    border-collapse: collapse;
    padding-right: 5%
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

input, textarea{
    width: 90%;
}


