@media only screen and (orientation: portrait) {        
  body {
          padding-left: 2%;
          padding-right: 2%;
  }

  input {
      width:90%;
  }
}

@media only screen and (orientation: landscape) {
  body {
          padding-left: 15%;
          padding-right: 15%;
  }
  input {
      width:50%;
  }
}

body {
    font-family: Ubuntu, Roboto, Noto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    text-rendering:optimizeLegibility;
    background-color: white;
    color: black;
    line-height: 1.5em;
    font-size: 1.25em;
}

.codeblock{
        overflow-x:auto;
}

#home-header{
}

#post-top {
}

a {
   text-decoration: none;
   font-weight: bold;
   color: #3285C2;
   border-bottom: 1px solid blue;
}

#footer {
    font-size: 75%;
    text-align: center;
}

td{
    padding: 5px;
}

.booktable{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;    
}

.booktable>th, td{
    border-collapse: collapse;
    padding-right: 5%;
}

img{
    max-width: 100%;
    height: auto;
}
