<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/basic.css">
    <title>
        Ecstatic Documentation
        | Ronit Ray</title>

</head>

<body class="container">



    <div id='post-top'>
        <h1>Ecstatic v0.1 Documentation</h1>
        <h3><a href="https://ronitray.xyz">Ronit Ray</a></h3>

    </div>

    <div id='contents'>
        <h2>Contents</h2>
        <ol>
            <li>
                <a href='#what-is-ecstatic'>What is Ecstatic?</a>
            </li>
            <li>
                <a href='#installing'>Installing</a>
            </li>
            <li>
                <a href='#folder-structure'>Folder Structure</a>
            </li>
            <li>
                <a href='#understanding-templates'>Understanding Templates</a>
                <br>
                <ol>
                    <li><a href='#layout-template'>The layout template</a></li>
                    <li><a href='#home-template'>Basic home template</a></li>
                    <li><a href='#post-template'>Basic post template</a></li>
                </ol>
            </li>
            <li>
                <a href='#new-post'>New Post</a>
            </li>
            <li>
                <a href='#generate'>Generate the Site</a>
            </li>
            <li>
                <a href='#extending-ecstatic'>Extending Ecstatic</a>
                <br>
                <ol>
                    <li><a href='#tags'>Tags</a></li>
                    <li><a href='#reading-time'>Reading Time</a></li>
                    <li><a href='#rss-feed'>RSS Feed</a></li>
                </ol>
            </li>
            <li>
                <a href='#next-steps'>Next Steps</a>
            </li>
        </ol>
    </div>

    <div id='what-is-ecstatic'>

        <h2>What is Ecstatic?</h2>

        <p>Ecstatic is a static site generator. It is written in <a href='https://www.python.org/'>Python</a> and makes use of, primarily, the <a href='https://jinja.palletsprojects.com/en/2.11.x/'>Jinja template
            engine</a> to generate a complete website. It is ideal for blogs and/or personal/company sites.</p>
    </div>

    <div id='installing'>

        <h2>Installing</h2>

        <p>Note: You need to have Python and git installed on your system to use ecstatic. It has been built using Python 3+,
            and not tested on 2.x. It may work, but please don't expect support on deprecated versions.</p>

        <p>Once you have installed Python on your system, go ahead and clone the git repo.</p>

        <pre class='codeblock'>
        <code>
$ git clone https://github.com/RonitRay/ecstatic.git
        </code>
    </pre>
        <p>This downloads the generator as well as some boilerplate templates and sample files to get you started right
            away.</p>
        <p>Before you start, there are some python dependencies you must install. I recommend using a <a href='https://docs.python.org/3/tutorial/venv.html'>virtual
            environment</a> or <a href='https://pipenv.pypa.io/en/latest/'><code>pipenv</code></a> within the ecstatic folder for containerization and to not affect your system in
            any way.</p>
        <pre class='codeblock'>
            <code>
$ pip3 install pipenv
$ pipenv shell        
$ pip3 install datetime jinja2 markdown2
        </code>
    </pre>
        <p>You should now be all set.</p>

    </div>

    <div id='folder-structure'>

        <h2>Folder Structure</h2>
        <ul>
            <li>The <code>drafts</code> folder is for all posts you are working on but don't want to publish yet,
                written in <a href='https://en.wikipedia.org/wiki/Markdown'><code>markdown (.md)</code></a> format.</li>
            <li>The <code>content</code> folder consists of all your finished blog posts or content pages. Remember to
                move
                your markdown file from drafts to content if you want to publish it.</li>
            <li>The <code>templates</code> folder allows you to create templates in HTML with some python logic as per
                the
                Jinja
                specification.</li>
            <li>The <code>output</code> folder will consist of the generated site, as well as any CSS in the
                <code>css</code> folder and images in the <code>img</code> folder that you would
                like to have on the site.
            </li>
        </ul>
    </div>

    <div id='understanding-templates'>

        <h2>Understanding Templates</h2>

        <p>Templates are a kind of skeleton that define how any page of a particular type (eg. home, article etc) is to
            be
            structured.</p>

        <p>Templates in Jinja exist to extend static HTML and provide scope for content to be dynamically inserted into
            placeholder 'blocks' using Python logic. <a href='https://jinja.palletsprojects.com/en/2.11.x/'>Their excellent and extensive documentation</a> is a great resource to
            understand and write templates for ecstatic, or build your own wrapper around Jinja.</p>
    </div>

    <p>Out of the box, ecstatic provides 3 templates for convenience:</p>
    <div id='layout-template'>

        <h3>The <code>layout</code> template</h3>

        <p>The layout template is the most basic wrapper for every page you generate. It consists of the boilerplate
            html head, title, meta, and body tags, and defines 2 blocks: customtitle and content, that are pretty
            self-descriptive.</p>
        <div class='codeblock'>
            <pre>
            <code>
&#x3C;!DOCTYPE html&#x3E;

&#x3C;html lang=&#x22;en&#x22;&#x3E;
&#x3C;head&#x3E;
    &#x3C;meta charset=&#x22;UTF-8&#x22;&#x3E;
    &#x3C;meta name=&#x22;viewport&#x22; content=&#x22;width=device-width, initial-scale=1.0&#x22;&#x3E;
    &#x3C;meta http-equiv=&#x22;X-UA-Compatible&#x22; content=&#x22;ie=edge&#x22;&#x3E;
    &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;/css/basic.css&#x22;&#x3E;
    &#x3C;title&#x3E;{% block customtitle %} {%endblock%} | Ronit Ray&#x3C;/title&#x3E;
    
&#x3C;/head&#x3E;
&#x3C;body class=&#x22;container&#x22;&#x3E;
    
    {% block content %} {% endblock %}

    &#x3C;br&#x3E;

&#x3C;/body&#x3E;
&#x3C;/html&#x3E;


            </code>
        </pre>
        </div>
        <p>Whenever you define a new template, you can extend this layout template and not have to write this
            boilerplate again.</p>
        <div class='codeblock'>
            <pre>
<code>{% extends "layout.html" %}</code>
            </pre>
        </div>
    </div>

    <div id='home-template'>
        <h3>The <code>home</code> template</h3>

        <p>The home template is used to generate your site's homepage.</p>
        <p>You can have whatever content you want in it. At present, it includes a basic header, and a list of your blog
            posts, implemented as follows:</p>
        <div class='codeblock'>
            <pre>
                <code>
&#x3C;p&#x3E;&#x3C;strong&#x3E;Latest posts:&#x3C;/strong&#x3E;&#x3C;/p&#x3E;

{% for post in posts %}
{% if post.blog == &#x27;yes&#x27; %}

&#x3C;a href=&#x22;posts/{{ post.slug }}.html&#x22;&#x3E;{{post.title}}&#x3C;/a&#x3E;
&#x3C;br&#x3E;&#x3C;br&#x3E;
{% endif %}
{% endfor %}
                </code>
            </pre>
        </div>
    </div>

    <div id='post-template'>
        <h3>The <code>post</code> template</h3>

        <p>The post template defines how the html page for every blog post will be formatted. It is pretty basic, you
            just include <code>{{post.content}}</code> somewhere in the body to load the generated HTML for your markdown post.</p>
    </div>


    <div id='new-post'>
        <h3>New Post</h3>

        <p>To create a new post, execute:</p>

        <pre class="codeblock">
            <code>
$ python3 new-post.py
            </code>
        </pre>

        <p>You are asked to provide a title for the post, a list of comma-separated tags (optional), a post summary
            (optional), and a slug (the slug is used to determine the name of the markdown file as well as the URL for
            the post.)</p>
        <p>You are also asked if the post is a blog post or not (optional), since you can use this flag to separate your
            blog posts from other static content on your site.</p>
        <p>Generated markdown file is placed in the <code>drafts</code> folder.</p>
        <p>Posts are written in Markdown. Refer to <a href='https://www.markdownguide.org/basic-syntax/'>a Markdown style guide</a> and the <a href='https://github.com/trentm/python-markdown2'>Python markdown2 library documentation</a>
            for more. Once you are satisfied with your post, move it from the <code>drafts</code> folder to the <code>content</code>
            folder.</p>

    </div>

    <div id='generate'>
        <h3>Generate Your Site</h3>

        <p>To generate the static site, execute:</p>

        <pre class="codeblock">
            <code>
$ python3 generate.py
            </code>
        </pre>

        <p>No prompts are provided for the generation process. It should be near instant for a reasonable number of
            posts. Upon completion of execution, all site-related pages and content is available in the
            <code>output</code> folder. You may push this entire folder to a server of your choice, or use <a href='https://pages.github.com/'>GitHub Pages</a>,
            <a href='https://about.gitlab.com/stages-devops-lifecycle/pages/'>GitLab Pages</a>, <a href='https://pages.cloudflare.com/'>Cloudflare Pages</a>, <a href='https://www.netlify.com/'>Netlify</a>, or <a href='https://neocities.org'>Neocities</a> for hosting if you would like.
        </p>

    </div>

    <div id='extending-ecstatic'>
        <h3>Extending Ecstatic</h3>

        <p>With templates, your static site can be extended into a pretty functional site in no time without having to
            alter the generating program in any way. That said, if you want more functionality than just a basic blog
            and landing pages, you can bake it into the <code>generate.py</code> script. It is a standard python script
            and can be extended for any purpose you deem fit.</p>
        <p>Here are some helpful extensions you might want to use. Eventual releases may include patches as separate
            files that you can install much <a href='https://suckless.org/hacking/'>like patches in dwm</a>, but that is not implemented at present.</p>
        <div id='tags'>
            <h4>Tags</h4>
            <p>Tags allow you to categorize your posts and are a pretty common feature on blogs all over the web.
                Ecstatic
                already asks you to provide an (albeit optional) comma-separated list of tags that you think are
                relevant to
                your posts. If you would like to include tag-based categorization on your blog, add the following code
                to
                your generate.py script.</p>

            <div class='codeblock'>
                <pre>
            <code>
# extract unique list of tags and sort
tags = []
for post in posts_metadata:
    if post[&#x27;blog&#x27;] == &#x27;yes&#x27;:
        tags.extend(post[&#x27;tags&#x27;].split(&#x27;, &#x27;))
tags = list(set(tags))
tags.sort()

# make a list of posts for each tag, then create a new page dedicated to all posts for that tag
tag_template = env.get_template(&#x27;tag.html&#x27;)
for tag in tags:
    tagposts_metadata = [
        POSTS[post].metadata for post in POSTS if tag in POSTS[post].metadata[&#x27;tags&#x27;].split(&#x27;, &#x27;)]
    tag_html = tag_template.render(tagposts=tagposts_metadata, tag=tag)
    with open(&#x27;output/posts/tag-&#x27;+tag+&#x27;.html&#x27;, &#x27;w&#x27;) as file:
        file.write(tag_html)
            </code>
        </pre>
            </div>
            <p>This patch is already applied to ecstatic. A set of links to these generated tab pages is present on the
                home template:
            </p>
            <div class='codeblock'>
                <pre>
            <code>
{% for tag in tags %}
&#x3C;a href=posts/tag-{{tag}}.html&#x3E;[{{tag}}]&#x3C;/a&#x3E;&#x26;nbsp;&#x26;nbsp;&#x26;nbsp;
{% endfor %}                
            </code>
        </pre>
            </div>
            <p>If you do not want tags, you can get rid of that section of the template.</p>
        </div>

        <div id='reading-time'>
            <h4>Reading Time</h4>
            <p>A reading time indicator appears typically near the top of a post, indicating the average time it might
                take a reader to go through the post. This patch is already applied to the generator, but it is trivial
                to remove (relevant sections are commented in the code) and even easier to ignore (just remove any
                mention of reading time from your post template).</p>
            <p>Note: This assumes an average reading time of 200 words per minute.</p>
            <div class='codeblock'>
                <pre>
                <code>
post_clean = POSTS[post]
for char in &#x27;-.,\n&#x27;:
    post_clean = post_clean.replace(char, &#x27; &#x27;)
post_clean = post_clean.lower()

post_words = post_clean.split()

post_data = {
.
.
.
&#x27;readtime&#x27;: round(len(post_words)/200)
}              
                </code>
            </pre>
            </div>
        </div>

        <div id='rss-feed'>
            <h4>RSS Feed</h4>
            <p>RSS Feeds are XML documents that allow users to follow content posted to your site without having to
                visit the site itself. Users following your site via RSS feed expect to be notified in their feed reader
                when your site changes, which means every time you generate your site, the rss feed must also be
                regenerated to include any new content.</p>
            <p>This patch is not applied to ecstatic by default, but you can add it to the generate.py script as below:
            </p>
            <div class='codeblock'>
                <pre>
                <code>
# for generating an RSS feed
filecontent = &#x27;&#x3C;?xml version=&#x22;1.0&#x22; encoding=&#x22;utf-8&#x22;?&#x3E;\n&#x3C;rss xmlns:content=&#x22;http://purl.org/rss/1.0/modules/content/&#x22; version=&#x22;2.0&#x22;&#x3E;\n&#x3C;channel&#x3E;&#x27;
filecontent += &#x27;&#x3C;!--  RSS generated by ecstatic, a minimal static site generator  --&#x3E;&#x27;
filecontent += &#x22;&#x3C;title&#x3E;Author&#x27;s Site&#x3C;/title&#x3E;\n&#x3C;link&#x3E;https://url.site/&#x3C;/link&#x3E;\n&#x3C;description&#x3E;Feed for Author&#x27;s website&#x3C;/description&#x3E;\n&#x3C;lastBuildDate&#x3E;&#x22;+ (date.today().strftime(&#x22;%a, %d %b %Y&#x22;)) +&#x22;&#x3C;/lastBuildDate&#x3E;\n&#x22;

for post in POSTS:
    post_metadata = POSTS[post].metadata
    postdate=datetime.strptime(post_metadata[&#x27;date&#x27;],&#x22;%d-%b-%Y&#x22;)
    nowdate=datetime.strptime(date.today().strftime(&#x22;%d-%b-%Y&#x22;),&#x22;%d-%b-%Y&#x22;)
    daydiff = nowdate - postdate

    if daydiff.days &#x3C;= 180 and post_metadata[&#x27;blog&#x27;]==&#x27;yes&#x27;:
        filecontent+= &#x22;&#x3C;item&#x3E;\n&#x22;
        filecontent+= &#x22;&#x3C;title&#x3E;&#x22;+post_metadata[&#x27;title&#x27;]+&#x22;&#x3C;/title&#x3E;\n&#x22;
        filecontent+= &#x22;&#x3C;link&#x3E;&#x22;+&#x22;https://url.site/posts/&#x22;+post_metadata[&#x27;slug&#x27;]+&#x22;.html&#x22;+&#x22;&#x3C;/link&#x3E;\n&#x22;
        filecontent+= &#x22;&#x3C;pubDate&#x3E;&#x22;+datetime.strptime(post_metadata[&#x27;date&#x27;],&#x22;%d-%b-%Y&#x22;).strftime(&#x22;%a, %d %b %Y&#x22;)+&#x22;&#x3C;/pubDate&#x3E;\n&#x22;
        filecontent+= &#x22;&#x3C;description&#x3E;&#x22;+post_metadata[&#x27;summary&#x27;]+&#x22;&#x3C;/description&#x3E;&#x22;
        filecontent+= &#x22;\n&#x3C;content:encoded&#x3E;&#x3C;![CDATA[&#x22;+POSTS[post]+&#x22;]]&#x3E;&#x3C;/content:encoded&#x3E;\n&#x22;
        filecontent+= &#x22;&#x3C;/item&#x3E;\n&#x22;

filecontent+= &#x22;&#x3C;/channel&#x3E;\n&#x3C;/rss&#x3E;&#x22;

with open(&#x27;output/feed.xml&#x27;, &#x27;w&#x27;) as file:
    file.write(filecontent)

# end
                </code>
            </pre>
            </div>
            <p>Remember to replace <code>https://url.site</code> with your own domain. You may then link to
                <code>url.site/feed.xml</code> anywhere on your site to point to the RSS feed generated this way.</p>
        </div>
    </div>
    <div id='next-steps'>
        <h3>Next Steps</h3>
        <p>If you find any bugs or have feature requests, feel free to raise an issue at this project's GitHub page. Not all feature requests will be implemented for the sake of simplicity but some may be provided as patches in the future.</p>
    </div>

    <br>

    <br>
    <a href="https://ronitray.xyz">back to Home</a>
    <br>
    <br>
    <div id="footer">
        &copy; Copyright 2020, Ronit Ray.
    </div>


</body>

</html>
